Source: asyncactor
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-all, debhelper (>= 13), debhelper-compat (= 13),
  python3-setuptools-scm,
  python3-pytest-cov,
  python3-trio,
  python3-anyio,
Standards-Version: 3.9.6
Homepage: https://github.com/smurfix/asyncseractor

Package: python3-asyncactor
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python3-trio,
  python3-anyio,
Recommends:
  moat-mqtt,
Description: Orchestrator on top of unreliable message massing
  AsyncActor is an async Python module that aids in service discovery and
  "somewhat-leader" election in a heterogenous, sometimes-disconnected network
  with low transmission delay.
  .
  AsyncActor can run on top of any reliable broadcast channel.
  This version includes back-ends for Serf and MQTT.
  .
  AsyncActor sends as few packets as possible, thus is well-suited for
  IoT-related applications with many stations but limited bandwidth.
